<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.domain.Course">
            <id property="courseId" column="courseId" jdbcType="BIGINT"/>
            <result property="courseName" column="courseName" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacherId" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="parentId" column="parentId" jdbcType="BIGINT"/>
            <result property="createUser" column="createUser" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="modifyUser" column="modifyUser" jdbcType="VARCHAR"/>
            <result property="modifyTime" column="modifyTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="maxNum" column="maxNum" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        courseId,courseName,teacherId,
        status,parentId,createUser,
        createTime,modifyUser,modifyTime,
        isDelete, maxNum
    </sql>
</mapper>
