<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GradeMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.domain.Grade">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="studentId" column="studentId" jdbcType="VARCHAR"/>
            <result property="courseId" column="courseId" jdbcType="BIGINT"/>
            <result property="testGrade" column="testGrade" jdbcType="VARCHAR"/>
            <result property="workGrade" column="workGrade" jdbcType="VARCHAR"/>
            <result property="examGrade" column="examGrade" jdbcType="VARCHAR"/>
            <result property="finalGrade" column="finalGrade" jdbcType="VARCHAR"/>
            <result property="createUser" column="createUser" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="modifyUser" column="modifyUser" jdbcType="VARCHAR"/>
            <result property="modifyTime" column="modifyTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,studentId,courseId,
        testGrade,workGrade,examGrade,
        fianlGrade,createUser,createTime,
        modifyUser,modifyTime,isDelete
    </sql>
</mapper>
